$rustyOrange: #e36209;
$paleGrey: #e1e4e8;

$warmGrey: #999999;
$brownishGrey: #666666;
$slateGrey: #5c646d;
$slateGreyTwo: #586069;

$whiteTwo: #e3e3e3;
$white: #ffffff;
$darken: #24292e;

$link: #2d94d9;
